:root {
    --border-color: #0003;
    --body-bg-color: #f9fbfb;
    --buttons-color: #3897f0;
    --accent-color: #8a3ab9;
}
.Message_body {
    margin-top: 3.6em;
    padding-top: .2em;
    max-width: 490px;
    width: 100%;
    height: 100vh;
}
.msg_box {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    gap: 10px;
    padding: 0.5em 1em;
    transition: all 0.3s;
    width: 100%;
}
.msg_box:hover {
    cursor: pointer;
    background: #b5b4b4;
}
.msg_box .msg_img_box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.msg_box .msg_img_box > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.msg_text {
    line-height: 0.2;
}
.msg_text > span {
    font-size: 1.2rem;
    font-weight: 500;
}
.msg_text > p {
    font-weight: 400;
}
@media screen and (min-width: 491px) and (max-width: 585px) {
    .Message_body{
        margin-left: 110px;
    }
    .msg_box{
        width: 90%;
    }
}
@media screen and (min-width: 586px) {
    .Message_body{
        margin-left: 170px;
        width: 50%;
        border-right: 1px solid var(--border-color);
    }
    .msg_box{
        width: 85%;
    }
}